@font-face {
  font-family: "Ubuntu-Bold";
  src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

body {
  background-color: hsl(217, 100%, 97%);
  font-family: "Ubuntu-Regular";
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('assets/images/bg-sidebar-desktop.svg'); */

}

#form-main-card {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 13px;
  padding: 17px;
  display: grid;
  grid-template-columns: 29% 70%;
  height: 600px;
  width: 956.2px;
}

#sidebar {
  background-image: url('assets/images/bg-sidebar-desktop.svg');
  border-radius: 13px;
  box-sizing: border-box;
  height: 100%;
  padding: 30px;
  padding-top: 20px;
}

#sidebar div {
  align-items: center;
  display: grid;
  grid-template-columns: 25% 75%;
}

.div-number {
  color: white;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 12px;
  border: 1px solid;
  border-color: white;
  border-radius: 100%;
}

.step-nums {
  color: hsl(228, 100%, 84%);
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 4px;
  width: 40px;
}

.steps {
  color: white;
  font-family: 'Ubuntu-Bold';
  font-size: 14px;
  font-weight: 1000;
  margin-top: 0;
  width: 110px;
  letter-spacing: 1px;
}

#form-area {
  height: 100%;
  padding: 20px 90px;
  box-sizing: border-box;
}

.form-header {
  color: hsl(213, 96%, 18%);
  margin-bottom: 10px;
}

.form-description {
  color: hsl(231, 11%, 63%);
  margin-bottom: 40px;
}

.user-info-form-container {
  display: block;
  height: 100%;
}

.user-info-form-container label {
  color: hsl(213, 96%, 18%);
  font-size: 14px;
  margin-bottom: 6px;
}

.user-info-form-container input {
  margin-top: 4px;
  margin-bottom: 25px;
  width: 440px;
  height: 45px;
  border: 1px solid;
  border-color: hsl(229, 24%, 87%);
  border-radius: 7px;
  box-sizing: border-box;
  padding-left: 13px;
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
}

.user-info-form-container input::placeholder {
  color: hsl(231, 11%, 63%);
  opacity: 0.9;
}

.first-step-next-button {
  margin-top: 70px;
  margin-left: 320px;
}

.next-button {
  background-color: hsl(213, 96%, 18%);
  color: hsl(217, 100%, 97%);
  font-family: 'Ubuntu-Regular';
  height: 50px;
  width: 120px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
}

.back-button {
  font-family: 'Ubuntu-Regular';
  font-size: 16px;
  font-weight: 600;
  color: hsl(231, 11%, 63%);
  background-color: white;
  border: 0;
}

.button-container {
  display: grid;
  grid-template-columns: 20% 54% 26%;
}

.plan-selection-container {
  display: none;
  height: 100%;
}

.plan-choices {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  width: 490px;
}

.plan {
  width: 145px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 7px;
  border-color: hsl(229, 24%, 87%);
  padding: 16px;
}

.plan-name {
  margin-top: 50px;
  margin-bottom: 0;
  color: hsl(213, 96%, 18%);
  font-size: 18px;
}

.plan-price {
  margin-top: 4px;
  margin-bottom: 0;
  color: hsl(231, 11%, 63%);
}

.yearly-free-months {
  margin-top: 8px;
  color: hsl(213, 96%, 18%);
  font-size: 14px;
}

.yearly-monthly-choice {
  margin-top: 35px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 100%, 97%);
  border-radius: 9px;
  height: 48px;
  width: 473px;
}

.pick-add-ons-container {
  display: none;
  height: 100%;
}

.add-ons {
  margin-bottom: 80px;
}

.add-on {
  display: grid;
  grid-template-columns: 15% 68% 17%;
  align-items: center;
  border: 1px solid;
  border-color: hsl(229, 24%, 87%);
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

#online-service, #larger-storage, #customizable-profile {
  height: 20px;
}

.add-on-name {
  color: hsl(213, 96%, 18%);
  margin-bottom: 8px;
}

.add-on-description {
  margin-top: 0;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

.add-on-price {
  color:  hsl(243, 100%, 62%);
  font-size: 14px;
  height: 20px;
}

.finishing-up-container {
  display: none;
  height: 100%;
}

.all-selections {
  background-color: hsl(217, 100%, 97%);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 10px;
}

.plan-selected-container {
  display: grid;
  grid-template-columns: 88% 12%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.plan-selected {
  margin-top: 0;
  margin-bottom: 5px;
  color: hsl(213, 96%, 18%);
  font-size: 17px;
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
}

.change-plan {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
  font-weight: 600;
}

.plan-selected-price {
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

hr {
  height: 1px;
  background-color: hsl(229, 24%, 87%);
  border: none;
}

.add-on-selected-container {
  display: grid;
  grid-template-columns: 88% 12%;
  align-items: center;
  height: 40px;
}

.add-on-selected {
  color: hsl(231, 11%, 63%);
}

.add-on-selected-price {
  color: hsl(213, 96%, 18%);
  font-size: 14px;
}

.total-price-container {
  margin-left: 25px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 83% 17%;
}

.total-price-label {
  color: hsl(231, 11%, 63%);
}

.total-price {
  font-family: 'Ubuntu-Bold';
  color: hsl(243, 100%, 62%);
  font-size: 20px;
}

.confirm-button {
  background-color: hsl(243, 100%, 62%);
  color: hsl(217, 100%, 97%);
  font-family: 'Ubuntu-Regular';
  height: 50px;
  width: 120px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.thank-you-message-container {
  display: none;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

























/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 30px;
  margin-right: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
